<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems,
Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>
    <listener>
        <listener-class>
            com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>hello-spring-servlet</servlet-name>
        <servlet-class>
            com.sun.xml.ws.transport.http.servlet.WSServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello-spring-servlet</servlet-name>
        <url-pattern>/hello-spring</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
    <!--<ejb-local-ref>
        <ejb-ref-name>MPStorageEjbDAO</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ru.aparfenov.meetplace.dao.ejb.MPStorageEjbOracleDbDaoBean</local>
    </ejb-local-ref>-->
    <ejb-local-ref>
        <ejb-ref-name>StorageDao</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>ru.aparfenov.meetplace.dao.ejb.MPStorageEjbDAO</local>
    </ejb-local-ref>
</web-app>